@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1757991842802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-computer:before {
  content: "\e6b3";
}

.icon-hot:before {
  content: "\e756";
}

.icon-xiexian:before {
  content: "\e6ae";
}

